.page-wrapper {
  &::after {
    content: "";
    width: 222vw;
    height: 145%;
    background: linear-gradient(
      190deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(3, 7, 17) 100%
    );
    position: absolute;
    bottom: 0;
    transform: rotate(356deg);
    z-index: -1;
    left: -320px;
  }
  &__inner {
    &::after {
      content: "";
      width: 222vw;
      height: 145%;
      background: linear-gradient(
        190deg,
        rgb(191 11 11 / 0%) 0%,
        rgb(3, 7, 17) 100%
      );
      position: absolute;
      bottom: 0;
      transform: rotate(36deg);
      z-index: -1;
      left: -320px;
    }

    // green

    // data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAABJQTFRFMLJ/9fz6z/Dg////N7WE2PPlI1+DXwAAACNJREFUeJxjYFTCDhQZTIyxAxOGYBwyxqMyozKjMqMyQ1sGAGB//T4IpyOHAAAAAElFTkSuQmCC

    // purple
    // data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAABJQTFRFlFS++ff86dTy////l1jB7Nv0UEtMTgAAACNJREFUeJxjYFTCDhQZTIyxAxOGYBwyxqMyozKjMqMyQ1sGAGB//T4IpyOHAAAAAElFTkSuQmCC

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
        repeat 0 0;
      -webkit-animation: bg-scrolling-reverse 0.92s infinite;
      -moz-animation: bg-scrolling-reverse 0.92s infinite;
      -o-animation: bg-scrolling-reverse 0.92s infinite;
      animation: bg-scrolling-reverse 0.92s infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear;
      z-index: -1;
      filter: invert(1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -50%;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAABJQTFRFMLJ/9fz6z/Dg////N7WE2PPlI1+DXwAAACNJREFUeJxjYFTCDhQZTIyxAxOGYBwyxqMyozKjMqMyQ1sGAGB//T4IpyOHAAAAAElFTkSuQmCC")
        repeat 0 0;
      animation: bg-scrolling-reverse-two 2s infinite; // topToBottom 0.92s infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear;
      z-index: -1;
      animation-delay: 5s;
      opacity: 0;
      transform: rotate(-45deg);
      transform: translateX(200px);
      filter: invert(1);
    }
  }
}

@keyframes topToBottom {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(200%);
  }
}

* {
  cursor: none;
}

.dutch {
  position: relative;

  &::after {
    content: "🇳🇱";
    position: absolute;
    top: 5px;
    right: 5px;
    transform: rotate(-4deg);
  }
}

.loginlogo {
  svg {
    margin: 0 auto;
    transform: translateX(38%);
  }
}
